<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Simple FooTable with pagination, sorting and filter</h5>

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li><a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a name="" id="" class="btn btn-primary" routerLink="/niveau_add" role="button">Add</a><br><br>
                <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                       placeholder="Search in table">

                <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                    <thead>
                    <tr>
                        <th>Id Niveau</th>
                        <th>Libelle Niveau</th>
                        <th data-hide="phone,tablet">Supprimer</th>
                        <th data-hide="phone,tablet">Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX">
                        <td>1</td>
                        <td>Licence 1
                        </td>
                        <td>Supprimer</td>
                        <td>edi</td>
                    </tr>
                    <tr class="gradeC">
                        <td>2</td>
                        <td>Licence 2
                        </td>
                        <td>supprimer</td>
                        <td class="center">edit</td>
                    </tr>
                    <tr class="gradeA">
                        <td>3</td>
                        <td>Licence 3
                        </td>
                        <td>sup</td>
                   <td class="center">edit</td>
                    </tr>
                    <tr class="gradeA">
                        <td>6</td>
                        <td>Master 1</td>
                        <td>sup</td>
                        <td class="center">edit</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>